.btn{
    background-color: #00B495;  /* color verdadero */
    color: #fff;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    cursor: pointer;
    &:hover{
        background-color: #02786a;
    }
}
.btn-salida{
    background-color: #F16B35;  /* color verdadero */
    color: #fff;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
}

.comentario{
    width: 600px;
    height: 150px;
}

.parrafo{
    color:#036d4f;
    font-weight: 450;
}

.imagen-prueba{
    margin-top: 20px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    font-size: 30px;
    background-color: #999999;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imegenes{
    display: flex;
}