input[type="checkbox"]{
    width: 15px;
    height: 15px;
    /* color: red; */
    /* appearance: none; */
    /* background-color: blueviolet; */

}
input[type="checkbox"]:checked{
    width: 15px;
    height: 15px;
    background-color: rgb(8, 154, 122);
    /* appearance: none; */
    /* background-color: blueviolet; */

}
.check:checked::after{
    width: 15px;
    height: 15px;
    appearance: none;
    background-color: rgb(43, 86, 226);

}

.container-into{
    display: flex;
}

.item-section{
    display: flex;
}