

.list_container {
    color: #666;
    width: 90%;
    margin-left: 60px;
    min-height: 80vh;
    padding-top: 0px;
}

.search_container {
    display: flex;
    justify-content: center;
    width: 80%;
    /* margin: 0px auto; */

}

.form_control {
    width: 80%;
    height: 40px;
    margin-left: -120px;
    border-radius: 10px;
    background-color: #99999937;
    padding-left: 25px;
    color: #666;
    border: none;
    outline: none;
    box-shadow: inset 3px 3px 5px rgb(167, 167, 167);
}

.table_container {
    color: #666;
    width: 80%;
    padding-top: 50px;
    margin-left: -20px;
}
.table_container_2 {
    color: #666;
    width: 80%;
    padding-top: 0px;
    margin-left: -20px;
}

.form_control_s {
    background-color: #059080;
    color: #fff;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    &:hover{
        background-color: #02786a;
    }
}

/* Estilos de tablas */
/* --------------------------------------------------------------------------- */
.tabla {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid #085734; */
}

.table_head {
    border-top: 0px solid #06a07c;
}

.table_row {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
    align-items: center;
    /* border-top: 1px solid #535353; */
    border-bottom: solid 1px #b7b7b7;
}
.table_row2 {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
    align-items: center;
    /* border-top: 1px solid #535353; */
    border-bottom: solid 2px #048072;
}
/* .table_row:hover {
    background-color: #9d9d9dac;
    color: white;
   
} */

.lists_tittles {
    font-size: 14px;
    display: flex;
    width: 110px;
    text-align: left;
    margin-left: 5px;
    
    /* border: 2px solid #ff0000; */
}
.lists_tittles2 {
    font-size: 14px;
    display: flex;
    width: 200px;
    text-align: left;
    margin-left: 5px;
    
    /* border: 2px solid #ff0000; */
}
.lists_tittles_tittle {
    
    width: 150px;
    display: flex;
    font-size: 14px;
    
}
.lists_tittles_tittle2 {
    
    width: 230px;
    display: flex;
    
}

.table_body {
    border: 0px solid #fff;
}

.list_content {
    font-size: 14px;
    display: flex;
    text-align: left;
    min-width: 90px;
    width: 110px;
    padding-left: 5px;
    /* border: 2px solid #ff0000; */
}

.list_content_T{
    color: #eb7302;
    font-weight: 500;
    margin-left: 15px;
}
.list_content2 {
    font-size: 14px;
    display: flex;
    text-align: left;
    min-width: 90px;
    width: 200px;
    padding-left: 5px;
    /* border: 2px solid #ff0000; */
}
.list_content_content {
    
    width: 150px;
    
}
.list_content_content2 {
    
    width: 230px;
    
    
}

.link_list{
    color: #085734;
    &:hover{
        color: #c7c7c7;
    }
}

.row_box{
    display: flex;
    
}

/* --------------------------------------------------------------------------- */




/* estos estilos revisar y eliminar */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.titulo_lista {
    margin-top: 25px;
}

.titulos_listas-acciones {
    margin: 0 20px;
}

.button {
    width: 150px;
    height: 40px;
    background-color: #059080;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    margin: 25px 0;
    cursor: pointer;
    &:hover{
        background-color: #02786a;
    }
}
.button2 {
    height: 30px;
    background-color: #059080;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    
    /* margin: 25px 0; */
    cursor: pointer;
    &:hover{
        background-color: #02786a;
    }
}
.button3{
    width: 120px;
    height: 30px;
    background-color: #059080;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
}
.button4{
    width: 120px;
    height: 30px;
    background-color: #eb7302;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
}

.imagen_container{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mas_button{
    width: 30px;
    height: 30px;
    color: #e4e4e4;
    z-index: 3;
    background-color: #02786a;
    border-radius: 8px;
    border: none;
    margin-left: 15px;
    margin-bottom: 30px;
}
.mas_button:hover{
    background-color: #005249;
}