.round-button{
    border-radius:50px;
    background-color: rgb(7, 138, 112);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fff;
    margin-left: 25px;
    margin-top: 25px;
    border: solid 6px #017e6d;
}

h1{
    color: #999;
}

.etapa-name{
    font-size:25px;
    font-weight: bold;
}

.etapas-container{
    display: flex;
    flex-direction: column;
}

.nav-container{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.etapas-forms{
    margin: 0px 25px;
}