.nuevo{
    font-size:25px;
    color:red;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form_container {
    background-color: rgba(95, 95, 95, 0.407);
    width: 500px;
    height: 700px;
    display: flex;
    justify-content: center;
    margin: 50px 0 0 50px;
    border-radius: 12px;
}

.uno{
    margin-top: 25px;
}

/* #label {
    margin-top: 25px;

} */

.input {
    margin: 8px 0;
}

.btn {
    width: 120px;
    height: 40px;
    margin: 25px 0;
    background-color: rgb(7, 117, 121);
    border: none;
    border-radius: 8px;
}

.form_login {
    padding-top: 120px;
}