/* LoginFormStyle */
.nuevo {
    font-size: 25px;
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form_container {
    background-color: #333f4f;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    border-radius: 12px;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_row {
    display: flex;
    justify-content: center;
}

.label {
    color: #c7c7c7;
    font-weight: 550;
    margin-right: 15px;

}

.input {
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    height: 25px;
    background-color: #e5e5e5;
    outline: none;
    padding-left: 10px;

}

.btn {
    width: 150px;
    height: 35px;
    margin: 25px 0;
    background-color: rgb(7, 117, 121);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
}

.form_login {
    padding-top: 120px;
}

/* clienteFormStyle */

.form_cliente {
    margin-top: 200px;
    margin-left: 30px;
    display: flex;
    justify-content:space-between;
    /* border: solid 3px #888; */
}
.form_box{
    margin: 25px;
}

.input_cliente {
    margin-top: 10px;
    /* border: solid 3px #ff0000; */
}

.form_control_s {
    margin-top: 15px;
    /* trae un css de otro lado */
}

/* EquipoFormStyle */

.input_equipo {
    margin-top: 15px;
    /* border: solid  2px #b7ff00; */
}

.form_equipo {
    margin-top: 50px;
    margin-left: 150px;
    /* border: solid 2px #a6ff00; */
}

.form_control_s {
    margin-top: 15px;
    /* trae un css de otro lado */
}

/* TipoEquipoFormStyle */

.input_tipo {
    margin-top: 15px;
    /* border: solid 2px #00c8ff; */
}

.form_tipo {
    margin-top: 250px;
    margin-left: 50px;
    /* border: solid 2px #ea00ff; */
}

.form_control_s {
    margin-top: 15px;
    /* trae un css de otro lado */
}

/* .input_check{
    box-shadow: none;
    text-align: left;
} */


/* OtFormStyle */

.input_ot {
    margin-top: 15px;
}

.form_ot {
    margin-top: 230px;
    margin-left: 50px;
}

.form_control_s {
    margin-top: 15px;
    background-color: #059080;
    color: #fff;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    /* trae un css de otro lado */
    &:hover{
        background-color: #02786a;
    }
}
.form_control_s2 {
    margin-left: 80px;
    margin-top: 15px;
    background-color: #059080;
    color: #fff;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    /* trae un css de otro lado */
    &:hover{
        background-color: #02786a;
    }
}

.form_container_i{
    display: flex;
    flex-direction: row;

}

.form_input_i{
    width: 150px;
}

/* .column_two{
    margin-right: 25px;
} */

.column_two{
    margin-left: 50px;
}