.nuevo {
    font-size: 25px;
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form_container {
    background-color: rgba(95, 95, 95, 0.407);
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    border-radius: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_row{
    display: flex;
    justify-content:center;
}

.label {
    color: #666;
    font-weight: bold;
    margin-right: 15px;

}

.input {
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    height: 25px;
    background-color: #e5e5e5;
    outline: none;
    padding-left: 10px;

}

.btn {
    width: 120px;
    height: 40px;
    margin: 25px 0;
    background-color: rgb(7, 117, 121);
    border: none;
    border-radius: 8px;
}

.form_login {
    padding-top: 120px;
}